---
import Header from "../components/Header.astro"
import Footer from "../components/Footer.astro"
import Layout from "../layouts/Layout.astro"
--- 

<Layout>
  <Header/>
  <h1 class="dark:text-gray-50 text-xl text-center">Alimentación</h1>
  <Footer/>
</Layout>

