---
import BedroomItem from "./BedroomItem.astro"
---

<section class="max-w-7xl mx-auto flex-col px-4 justify-between gap-4 dark:text-white/90 text-gray-900">
  <BedroomItem title="Habitación 101" description="Nuestra habitación 101 te ofrece un ambiente cálido y confortable, realzado por su revestimiento en madera. Es el lugar ideal para descansar despues de tu visita al nevado de El Cocuy o nevado de Güicán. La habitación cuenta con una cama doble, baño privado con ducha y agua caliente, televisión a color, clóset amplio, y acceso a wifi.">

  <div
    slot="image"
    style="background-image: url('/habitacion102.jpg');"
    class="w-full h-auto min-h-48 col-span-10 col-start-1 md:col-span-3 bg-cover bg-center bg-no-repeat rounded-md transition-scale ease-out duration-500 hover:scale-105 hover:rounded-none"
  >

  </div>

  </BedroomItem>

  <BedroomItem title="Habitación 102" description="Nuestra habitación 102 te ofrece un ambiente cálido y confortable, realzado por su revestimiento en madera. Es el lugar ideal para descansar en familia luego de tu tour por las montañas del nevado de El Cocuy o nevado de Güicán. La habitación está equipada con una cama doble y una cama sencilla, baño privado con ducha y agua caliente, televisión a color, clóset, y acceso a wifi.">

  <div
  slot="image"
  style="background-image: url('/habitacion102.jpg');"
  class="w-full h-auto col-span-10 col-start-1 md:col-span-3 min-h-48 bg-cover bg-center bg-no-repeat rounded-md transition-scale ease-out duration-500 hover:scale-105 hover:rounded-none"
  >
  </div>

  </BedroomItem>

  <BedroomItem title="Habitación 103" description="Nuestra habitación 103 te ofrece un ambiente cálido y confortable, realzado por su revestimiento en madera. Es el lugar ideal para descansar en familia luego de tu tour por las montañas del nevado de El Cocuy o nevado de Güicán. La habitación está equipada con dos camas dobles, baño privado con ducha y agua caliente, televisión a color, clóset, y acceso a wifi.">

  <div
  slot="image"
  style="background-image: url('/habitacion102.jpg');"
  class="w-full h-auto min-h-48 col-span-10 col-start-1 md:col-span-3 bg-cover bg-center bg-no-repeat rounded-md transition-scale ease-out duration-500 hover:scale-105 hover:rounded-none"
  >
  </div>

  </BedroomItem>


  <BedroomItem title="Habitación 201" description="Nuestra habitación duplex 201 te ofrece un ambiente cálido y confortable, realzado por su revestimiento en madera. Es el lugar ideal para descansar en familia luego de tu tour por las montañas del nevado de El Cocuy o nevado de Güicán. Una de nuestras habitaciones familiares, cuenta con una cama queen en su primer nivel, y en el altillo o ático está equipada con una cama doble y una sencilla, baño privado con ducha y agua caliente, televisión a color, clóset, y acceso a wifi.">

  <div
  slot="image"
  style="background-image: url('/habitacion102.jpg');"
  class="w-full h-auto min-h-48 col-span-10 col-start-1 md:col-span-3 bg-cover bg-center bg-no-repeat rounded-md transition-scale ease-out duration-500 hover:scale-105 hover:rounded-none"
  >
  </div>

  </BedroomItem>

  <BedroomItem title="Habitación 202" description="Nuestra habitación duplex 202, un espacio con diseño sencillo y únicos que te permite disfrutar de una hermosa vista, gracias a sus amplios ventanales. Ideal para descansar en familia en tu viaje por el nevado de El Cocuy y Güicán. La habitación está equipada con una cama doble y un somier en el primer nivel, y en el altillo o ático cuenta con dos camas sencillas y una doble, año privado con ducha y agua caliente, televisión a color, clóset, y acceso a wifi.">

    <div
    slot="image"
    style="background-image: url('/habitacion102.jpg');"
    class="w-full h-auto min-h-48 col-span-10 col-start-1 md:col-span-3 bg-cover bg-center bg-no-repeat rounded-md transition-scale ease-out duration-500 hover:scale-105 hover:rounded-none"
    >
    </div>

  </BedroomItem>
</section>