---
import BedroomItem from "./BedroomItem.astro"
---

<section class="max-w-7xl mx-auto flex-col px-4 justify-between gap-4 dark:text-white/90 text-gray-900">
  <BedroomItem title="Habitación 101" description="Nuestra Deluxe Executive Twin hace parte de las nuevas habitaciones renovada de Tequendama Suites, un espacio con diseño minimalista y detalles únicos que te conectaran con momentos especiales y memorables. La Suites Deluxe Executive cuenta con dos camas individuales, habitación privada, baño independiente fuera de la habitación con ducha, cocina tipo americana equipada, mini nevera y una amplia sala para recibir visitantes, escritorio de trabajo y la mejor vista a la ciudad.">

  <div
    slot="image"
    style="background-image: url('/habitacion102.jpg');"
    class="w-full h-auto bg-cover bg-center bg-no-repeat rounded-md transition-scale ease-out duration-500 hover:scale-105 hover:rounded-none"
  >

  </div>

  </BedroomItem>

  <BedroomItem title="Habitación 102" description="Nuestra Deluxe Executive Twin hace parte de las nuevas habitaciones renovada de Tequendama Suites, un espacio con diseño minimalista y detalles únicos que te conectaran con momentos especiales y memorables. La Suites Deluxe Executive cuenta con dos camas individuales, habitación privada, baño independiente fuera de la habitación con ducha, cocina tipo americana equipada, mini nevera y una amplia sala para recibir visitantes, escritorio de trabajo y la mejor vista a la ciudad.">

  <div
  slot="image"
  style="background-image: url('/habitacion102.jpg');"
  class="w-full h-auto bg-cover bg-center bg-no-repeat rounded-md transition-scale ease-out duration-500 hover:scale-105 hover:rounded-none"
  >
  </div>

  </BedroomItem>

  <BedroomItem title="Habitación 103" description="Nuestra Deluxe Executive Twin hace parte de las nuevas habitaciones renovada de Tequendama Suites, un espacio con diseño minimalista y detalles únicos que te conectaran con momentos especiales y memorables. La Suites Deluxe Executive cuenta con dos camas individuales, habitación privada, baño independiente fuera de la habitación con ducha, cocina tipo americana equipada, mini nevera y una amplia sala para recibir visitantes, escritorio de trabajo y la mejor vista a la ciudad.">

  <div
  slot="image"
  style="background-image: url('/habitacion102.jpg');"
  class="w-full h-auto bg-cover bg-center bg-no-repeat rounded-md transition-scale ease-out duration-500 hover:scale-105 hover:rounded-none"
  >
  </div>

  </BedroomItem>


  <BedroomItem title="Habitación 201" description="Nuestra Deluxe Executive Twin hace parte de las nuevas habitaciones renovada de Tequendama Suites, un espacio con diseño minimalista y detalles únicos que te conectaran con momentos especiales y memorables. La Suites Deluxe Executive cuenta con dos camas individuales, habitación privada, baño independiente fuera de la habitación con ducha, cocina tipo americana equipada, mini nevera y una amplia sala para recibir visitantes, escritorio de trabajo y la mejor vista a la ciudad.">

  <div
  slot="image"
  style="background-image: url('/habitacion102.jpg');"
  class="w-full h-auto bg-cover bg-center bg-no-repeat rounded-md transition-scale ease-out duration-500 hover:scale-105 hover:rounded-none"
  >
  </div>

  </BedroomItem>

  <BedroomItem title="Habitación 202" description="Nuestra Deluxe Executive Twin hace parte de las nuevas habitaciones renovada de Tequendama Suites, un espacio con diseño minimalista y detalles únicos que te conectaran con momentos especiales y memorables. La Suites Deluxe Executive cuenta con dos camas individuales, habitación privada, baño independiente fuera de la habitación con ducha, cocina tipo americana equipada, mini nevera y una amplia sala para recibir visitantes, escritorio de trabajo y la mejor vista a la ciudad.">

    <div
    slot="image"
    style="background-image: url('/habitacion102.jpg');"
    class="w-full h-auto bg-cover bg-center bg-no-repeat rounded-md transition-scale ease-out duration-500 hover:scale-105 hover:rounded-none"
    >
    </div>

  </BedroomItem>
</section>