---
interface Props {
  class?: string
  title: string
}

const {title} = Astro.props
---

<article class={`${Astro.props.class}
  rounded-md backdrop-blur-md border border-black/10 cursor-pointer content-end`}>

 
  <h3 class=" capitalize text-2xl font-semibold select-none z-10 p-4">{title}</h3>

  <slot name="image"/>


</article>