---
import BentoItem from "./BentoItem.astro"
---

<section class="w-full max-w-7xl mx-auto">
  <h2>viaja por el PNN el Cocuy y conoce Güicán de la Sierra</h2>
  <div class="w-full grid grid-cols-12 gap-2 mx-auto">

    <BentoItem title="Güicán ancestral" class="col-span-12 md:col-span-3"/>
    <BentoItem title="Güicán naturaleza" class="col-span-12 md:col-span-5"/>
    <BentoItem title="Güicán espiritual" class="col-span-12 md:col-span-4"/>
    <BentoItem title="Güicán Aventura" class="col-span-12 md:col-span-4"/>
    <BentoItem title="Güicán cultural" class="col-span-12 md:col-span-3"/>
    <BentoItem title="Güicán social" class="col-span-12 md:col-span-5"/>
  </div>

</section>