---
import BentoItem from "./BentoItem.astro"
import india from '../assets/india.jpg'
---

<section class="w-full max-w-7xl mx-auto py-10">
  <h2 class="text-center capitalize font-medium text-3xl ">viaja por el PNN el Cocuy y conoce Güicán de la Sierra</h2>
  <div class="w-full grid grid-cols-12 auto-rows-[20rem] gap-4 mx-auto py-8">

    <BentoItem title="Güicán ancestral" class="col-span-12 md:col-span-3 ">
    <div 
      slot="image"
     class="absolute top-0 bottom-0 left-0 w-full h-full transition-all duration-700 ease-in-out opacity-90 bg-cover bg-center bg-no-repeat rounded-md hover:scale-105 hover:opacity-60 -z-10 hover:rounded-none"
      style="background-image: url('/india.jpg');"
    >

    </div>
    </BentoItem>
    <BentoItem title="Güicán naturaleza" class="col-span-12 md:col-span-5">
      <div 
      slot="image"
      class="absolute top-0 bottom-0 left-0 w-full h-full transition-all duration-700 ease-in-out opacity-90 bg-cover bg-center bg-no-repeat rounded-md hover:scale-105 hover:opacity-60 -z-10 hover:rounded-none"
      style="background-image: url('/natural.jpg');"    >

    </div>
    
    </BentoItem>
    <BentoItem title="Güicán espiritual" class="col-span-12 md:col-span-4">
      
      <div 
      slot="image"
     class="absolute top-0 bottom-0 left-0 w-full h-full transition-all duration-700 ease-in-out opacity-90 bg-cover bg-center bg-no-repeat rounded-md hover:scale-105 hover:opacity-60 -z-10 hover:rounded-none"
      style="background-image: url('/espiritual.jpg');"
    >

    </div>
    </BentoItem>
    <BentoItem  title="Güicán Aventura" class="col-span-12 md:col-span-4">
      
      <div 
      slot="image"
      class="absolute top-0 bottom-0 left-0 w-full h-full transition-all duration-700 ease-in-out opacity-90 bg-cover bg-center bg-no-repeat rounded-md hover:scale-105 hover:opacity-60 -z-10 hover:rounded-none"
      style="background-image: url('/aventura.jpg');"
    >

    </div>
    </BentoItem>
    <BentoItem title="Güicán cultural" class="col-span-12 md:col-span-3"> 

      <div 
      slot="image"
      class="absolute top-0 bottom-0 left-0 w-full h-full transition-all duration-700 ease-in-out opacity-90 bg-cover bg-center bg-no-repeat rounded-md hover:scale-105 hover:opacity-60 -z-10 hover:rounded-none"
      style="background-image: url('/cultura.jpg');"
    >

    </div>
    </BentoItem>
    <BentoItem title="Güicán social" class="col-span-12 md:col-span-5">
      
      <div 
      slot="image"
      class="absolute top-0 bottom-0 left-0 w-full h-full transition-all duration-700 ease-in-out opacity-90 bg-cover bg-center bg-no-repeat rounded-md hover:scale-105 hover:opacity-60 -z-10 hover:rounded-none"
      style="background-image: url('/desarrollo.jpg');"
    >

    </div>
    </BentoItem>
  </div>

</section>