---

---

<section class="flex flex-nowrap w-xl max-w-7xl mx-auto h-40 gap-4 snap-x overflow-x-scroll" >
  <div class="asppect-[4/3] h-full min-w-60 snap-center bg-cover bg-center bg-slate-400 "></div>
  <div class="asppect-[4/3] h-full min-w-60 snap-center bg-cover bg-center bg-slate-400 "></div>
  <div class="asppect-[4/3] h-full min-w-60 snap-center bg-cover bg-center bg-slate-400 "></div>
  <div class="asppect-[4/3] h-full min-w-60 snap-center bg-cover bg-center bg-slate-400 "></div>
  <div class="asppect-[4/3] h-full min-w-60 snap-center bg-cover bg-center bg-slate-400"></div>
</section>
