<nav class="w-full max-w-7xl flex justify-between px-4 py-2"> 
  <ul>
    logo
  </ul>
  <ul class="flex gap-4">
    <li>
      servicios
    </li>
    <li>habitaciones</li>
    <li>
      nuestros tours
    </li>
    <li>
      blog
    </li>
  </ul>
</nav>

<style>
  li{
    cursor: pointer;
    text-transform: capitalize;  
  }
</style>