---
import { Image } from 'astro:assets';
import logo from '../assets/logo.svg'
import Logo from './Logo.astro';
---

<nav class="relative w-full max-w-7xl flex justify-between px-4 py-2 mx-auto bg-gray-50 dark:bg-gray-950 z-20 "> 
  <a class="sm:w-16 w-12" href="/">
    <Logo class="cursor-pointer"/>
  </a>
  <ul class="lg:flex gap-4 text-gray-950 dark:text-white/90 hidden">

    <li class="hover:text-gray-800 hover:dark:text-white hover:underline">
      <a href="/">Inicio</a>
    </li>
    <ul class="content-center relative">
      <input type="checkbox" id="services-menu" class="peer hidden">
      <label for="services-menu" class="cursor-pointer hover:text-gray-800 hover:dark:text-white hover:underline ">
        Servicios
      </label>

      <div class="absolute left-0 top-8 mt-2 w-48 bg-white dark:bg-gray-900  rounded-b-md shadow-lg opacity-0 peer-checked:opacity-100 peer-checked:translate-y-0 transform -translate-y-2 transition-all duration-200 ease-in-out -z-50 peer-checked:z-50 py-2">
        <ul class="">
          <li class="text-gray-950 dark:text-white/90 hover:dark:bg-gray-800 hover:bg-gray-100 p-2">
            <a href="/hospedaje">
              Hospedaje
            </a>
            </li>
          <li class="text-gray-950 dark:text-white/90 hover:dark:bg-gray-800 hover:bg-gray-100 p-2">
            <a href="/alimentacion">
              Alimentación  
            </a>  
          </li>
          <li class="text-gray-950 dark:text-white/90 hover:dark:bg-gray-800 hover:bg-gray-100 p-2">
            <a href="/tours">
              Tours
              </a>  
          </li>
          
        </ul>
  
      </div>

     

    </ul>
    <li class="hover:text-gray-800 hover:dark:text-white hover:underline">
      <a href="/blog">
        blog
      </a>
    </li>
  </ul>

  <input type="checkbox" id="burguer-menu" class="peer hidden">
  <label for="burguer-menu" class="grid cursor-pointer content-center text-gray-950 dark:text-white/90 lg:hidden">
    <svg viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" width="24" height="24" stroke-width="2"> <path d="M4 6l16 0"></path> <path d="M4 12l16 0"></path> <path d="M4 18l16 0"></path> </svg> 
  </label>

  
  <div class="absolute right-2 top-10 mt-2 w-48 bg-white dark:bg-gray-900  rounded-b-md shadow-lg opacity-0 peer-checked:opacity-100 peer-checked:translate-y-0 transform -translate-y-2 transition-all duration-200 ease-in-out -z-50 peer-checked:z-50 py-2">
    <ul class="">
      <li class="text-gray-950 dark:text-white/90 hover:dark:bg-gray-800 hover:bg-gray-100 p-2">
        <a href="/hospedaje">
          Hospedaje
        </a>
        </li>
      <li class="text-gray-950 dark:text-white/90 hover:dark:bg-gray-800 hover:bg-gray-100 p-2">
        <a href="/alimentacion">
          Alimentación  
        </a>  
      </li>
      <li class="text-gray-950 dark:text-white/90 hover:dark:bg-gray-800 hover:bg-gray-100 p-2">
        <a href="/tours">
          Tours
          </a>  
      </li>
      <li class="text-gray-950 dark:text-white/90 hover:dark:bg-gray-800 hover:bg-gray-100 p-2">
        <a href="/blog">
          Blog
          </a>  
      </li>
    </ul>

  </div>


</nav>

<style>
  li{
    cursor: pointer;
    text-transform: capitalize;
    align-content: center;
  }
</style>