---
import { Image } from 'astro:assets';
import logo from '../assets/logoEden.png'
---

<nav class="w-full max-w-7xl flex justify-between px-4 py-2"> 
  <Image class="w-20 cursor-pointer" src={logo} alt="Logo Hotel el" />
  <ul class="flex gap-4">
    <li>
      servicios
    </li>
    <li>habitaciones</li>
    <li>
      nuestros tours
    </li>
    <li>
      blog
    </li>
  </ul>
</nav>

<style>
  li{
    cursor: pointer;
    text-transform: capitalize;
    align-content: center;
  }
</style>