---
import Image from "astro/components/Image.astro"
import nevado from '../assets/nevado.jpg'
---

<main class="relative w-full">
  <Image class='w-full -z-10' src={nevado} alt='nevado de el Cocuy'/>
  <div class="absolute top-1/4 w-full">

    <h1 class="w-full text-center font-medium text-4xl">Bienvenidos al PNN El Cocuy, nevado de Güicán</h1>
    <h2 class="w-full text-center text-2xl font-semibold">Cocuy y Chita</h2>
  </div>
</main>