
<section class="w-full mx-auto h-full col-span-3">
  <div class="w-full mx-auto h-full">
    <iframe class="w-full h-full" src="https://www.google.com/maps/d/embed?mid=15HmYrUWJFy_qvH4ZESULngn5UZo-H60&ehbc=2E312F"></iframe>
  </div>
</section>
