
<section class="w-full max-w-7xl mx-auto h-1/2">
  <h2 class="text-center capitalize font-medium text-3xl text-gray-900 dark:text-white/90">Como llegar al Hotel Ecoturístico El Eden</h2>
  <div class="w-full max-w-7xl mx-auto h-1/2 py-8">
    <iframe class="w-full h-full" src="https://www.google.com/maps/d/embed?mid=15HmYrUWJFy_qvH4ZESULngn5UZo-H60&ehbc=2E312F"></iframe>
  
  </div>
</section>
